<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="12030"/>
  </appSettings>
<connectionStrings>
  <add name="psgx" connectionString="Data Source=10.0.0.3/orcl;Persist Security Info=True;User ID=sde;Password=sde"/>
</connectionStrings>
</configuration>